.topcontainer {
  
  justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
}
  
.card {
    margin-left: 28vw;
    border-radius: 25px;
    // border:solid black;  
    padding: 5rem;
    perspective: 1000px;
    &:hover,
    &:active,
    &:focus {
      .card__inner {
        transform: rotateY(180deg);
      }
    }
  }
  
  .card,
  .card__inner {
    position: relative; 
  
    width: 300px;
    height: 320px;
  }
  
  .card__inner {
    
    transition: transform .25s ease-in-out;
  
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
  }
  
  .card__back {
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    font-size: 15px;
    color:white;
    text-align: justify;
    transform: rotateY(180deg);
  }
  .card__front {
    display: flex;
    justify-content: center;
    font-size: 5px;
    // text-align: center;
    
    
  }
  
  .card__front,
  .card__back {
    
    background-size: 59rem;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://img.freepik.com/free-vector/crystal-ball-with-one-glowing-eye-held-by-two-hands-tarot-card-decorated-with-golden-clouds-moon-circulation-outer-space-many-stars_100410-79.jpg);
    border-radius: 25px;
    
    border: solid black;
    position: absolute;
    top: 0;
    left: 0;
  
    display: flex;
  
    width: 100%;
    height: 120%;
  
    color: white;
    
    justify-content: center;
    align-items:center;

    backface-visibility: hidden;
  }



// ######header####

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

:root {
	/* Base font size */
	font-size: 10px;

	/* Heading height variable*/
	--heading-height: 49em;
}

body {
	font-family: "Roboto", Arial, sans-serif;
	min-height: 100vh;
	background-color: #101010;
}

header {
	position: fixed;
	width: 100%;
	height: var(--heading-height);
}

/* Create angled background with 'before' pseudo-element */
header::before {
	content: "";
	display: block;
	position: absolute;
	left: -7px;
	bottom: 6em;
	width: 100%;
	height: calc(var(--heading-height) + 10em);
	z-index: -1;
	transform: skewY(-3.5deg);
	background: 
		linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
		url(https://images.unsplash.com/photo-1495464101292-552d0b52fe41?auto=format&fit=crop&w=1350&q=80) no-repeat center,
		linear-gradient(#4e4376, #2b5876);
	background-size: cover;
	border-bottom: .2em solid #fff;
}

h1 {
	font-size: calc(2.8em + 2.6vw);
	font-weight: 700;
	letter-spacing: .01em;
	padding: 10rem 0 0 4.5rem;
	text-shadow: .022em .022em .022em #111;
	color: #fff;
}

main {
	padding: calc(var(--heading-height) + 1.5vw) 4em 0;
}

p {
	font-size: calc(2em + .25vw);
	font-weight: 400;
	line-height: 2;
	margin-bottom: 1.5em;
	color: #fcfcfc;
}


// #######EYE Picture########

.eye {
  height: 20rem;
  width: 20rem;
  border-radius: 25px;
    border: solid black;

}


h3 {
  font-size: 15px;
  
}


// user zodiac sign

.user {
  min-height: 61px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  
}


// footerrrrrrr

.dib {
  display: inline-block;
}

.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link, .link:visited {
  transition: color .15s ease-in;
}

.link:hover {
  transition: color .15s ease-in;
}

.link:active {
  transition: color .15s ease-in;
}

.link:focus {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}

.white-80 {
  color: rgba(255, 255, 255, .8);
}

.bg-near-black {
  background-color: #111;
}

.hover-gold:hover {
  color: #ffb700;
}

.hover-gold:focus {
  color: #ffb700;
}

.hover-light-purple:hover {
  color: #a463f2;
}

.hover-light-purple:focus {
  color: #a463f2;
}

.hover-green:hover {
  color: #19a974;
}

.hover-green:focus {
  color: #19a974;
}

.pv5 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.ph4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.mr4 {
  margin-right: 2rem;
}

.f6 {
  font-size: .875rem;
}

@media screen and (min-width: 30em) {
  .mr5-ns {
      margin-right: 4rem;
  }
}

@media screen and (min-width: 60em) {
  .pv6-l {
      padding-top: 8rem;
      padding-bottom: 8rem;
  }
}

h4 {
  font-size: 15px;
  color: white
}